* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.containerHeader {
    background-color: #fff;
    width: 100%;
    height: 80px;
    z-index: 3;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logoMenu {
    height: 70px;
}

.logoMenu img {
    height: 100%;
}

.carrito {
    color: black;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.carrito i {
    font-size: 24px;
    margin-right: 5px;
}

.navegador {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu a {
    color: black;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    line-height: 80px;
}

.menu li {
    position: relative;
}

.menu .submenu {
    background-color: #fff;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1000;
    min-width: 200px;
    border-radius: 5px;
}

.submenuParent:hover > .submenu {
    display: block;
}

.submenu .submenu {
    top: 0;
    left: 100%;
    margin-left: 1px;
    min-width: 200px;
}

.menu a:hover {
    background: #5499C7;
    color: #fff;
    border-radius: 5px;
}

.checkbtn {
    display: none;
}

#check {
    display: none;
}

@media (max-width: 965px) {
    .checkbtn {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
        top: 80px;
        left: -100%;
        transition: all 0.5s;
        flex-direction: column;
    }

    .menu a {
        width: 100%;
        text-align: left;
        padding: 15px 20px;
    }

    #check:checked ~ .navegador .menu {
        left: 0;
    }

    .menu .submenu {
        position: relative;
        box-shadow: none;
    }

    .submenuParent:hover > .submenu {
        display: none;
    }

    .submenuParent > input[type="checkbox"] {
        display: none;
    }

    .submenuParent > input[type="checkbox"]:checked + .submenu {
        display: block;
    }

    .submenuParent > label {
        display: block;
        padding: 15px 20px;
        cursor: pointer;
    }

    .submenuParent > label:after {
        content: " \f078";
        font-family: FontAwesome;
        float: right;
    }
}

@media (max-width: 520px) {
    .logoMenu {
        margin-left: 10px;
    }

    .carrito {
        margin-right: 10px;
    }
}
